<div class="col-xs-10 col-xs-offset-1">
	<h1 class="about-header">About <span class="about-title">Splurty Riff-it:</span></h1>



	<!-- Text added at lesson 15 -->
	
	<p class = "about-para">
		Splurty Riff-it was built by <a class="about-page-links" href="http://www.stmarksschool.org/academics/profile.aspx?pageaction=VPSFaculty&LinkID=55310&DirectoryModuleID=294">Christopher Roche, a computer-science teacher</a> living in Southborough, MA who really loves to code, paint, build things, ... and play guitar. It was built with the help and teaching of The Firehose Project.  This is Chris' first Ruby build. 
	</p>
	
	<p class = "about-para">
		If you want to learn to code, build things like robots, and play guitar, come to <a class="about-page-links" href="http://www.stmarksschool.org/index.aspx" >St. Marks School</a> and check out <a class="about-page-links" href="http://www.thefirehoseproject.com/courses">The Firehose Project</a>.
	</p>

	<p class = "about-para">
		And now, let's learn a little more about the team . . . 
	</p>

	<div class="col-xs-12 col-sm-4">
    <%= image_tag 'm3cropped.jpg', :class => 'img-responsive about-pic-formatting' %>
    <%= image_tag 'playing.jpg', :class => 'img-responsive about-pic-short-break' %>
  	</div>

  	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center about-names">Chris</h2>
    <br />
    <p class ="about-para">
      In high-school, Chris had a friend, Mac, who had a <a class="about-page-links" href="https://youtu.be/ftHNaTnUff8" target="_blank">1964 Eko 500-3V electric</a> (a great guitar with about 400 white switches on it). Chris and Mac didn't have an amp, but Mac would plug his guitar into his stereo and they could play it.  Mac taught Chris a couple of chords and Chris was hooked.  After working to build his own guitars, Chris saved up money to buy a Fender Stratocaster in 1984.
    </p>
    <p class = "about-para">
		He still has the strat, he still plays, and he keeps coding with his cat, <a class="about-page-links" href="https://goo.gl/photos/eYkDbQDj39K3uKMX6" >MooMoo. </a>
	</p>
  </div>
  <br class="clear" />
  <br class="clear" />
  <br class="clear" />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'MooMooSky.jpg', :class => 'img-responsive about-pic-formatting' %>
  	</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center about-names">MooMoo</h2>
    <br />
    <p class = "about-para">
    Born on the streets of Brooklyn, Moo Moo grew up nurtured on food from the people of Lower Park Slope (including people like Chris and his daughter) and getting into cat fights. 
    </p> 
    <p class = "about-para">
      In the summer of 2007, Moo Moo enjoyed regular feedings at the apartment of Chris and his daughter, until one day he just decided to stay.  Finding Moo Moo on that day covered in motor oil and with a ripped ear, Chris took Moo Moo to the vet where the vet asked for his name. Chris' daughter (who was 4 at the time) suggested "Moo Moo Brown-Spot Brownie" and that became his name.
    </p>
    <p class = "about-para">
		Moo Moo loves string, catching mice, salmon and cat treats and he continues to romp in Southborough.
	</p>
  </div>
  <br class="clear" />
  <br />

</div>