
<h2>
	<span>SPLURTY RiFF-it! / No. <%= @quote.id %>:</span>


</h2>

<h1>
	<span class="big-quote">"</span>
	<%= @quote.saying %>
	<span class="big-quote">"</span>
</h1>
<h2 class="pull-right">- <%= @quote.author %></h1>

<br class="clear" />
<br />
<br />
<br />