<!--These are the tags for the new quote page -->
<h1>Enter your Rockin' quote here!</h1>

<%= simple_form_for @quote do |f| %>
	<%= f.input :saying %>
	<%= f.input :author %>
	<br />
	<%= f.submit 'Create', :class => 'btn-block btn-danger btn-lg' %>
<% end %>