
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);


.clear {
	clear:both;
}
.circle-container {
	padding-top: 20px;
	padding-left: 30px;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;  /* red color */
    border: 1px solid #F7F7F7; 
    /* border: 1px solid #5c00e6;    try it with middle purple border */
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}
div.circle:hover {
	background: #e23af6;
	transform:rotate(-11deg);
    -ms-transform:rotate(-11deg); /* IE 9 */
    -webkit-transform:rotate(-11deg); /* Opera, Chrome, and Safari */
}



.slogan{	
	padding-top: 18px;
}

 #top-slogan{
 	font-family: 'pincoyablackblack';
 	/* color:#808080;  grey... */
 	color: #5c00e6;    /* middle purple */
 	/* color: #3333cc;  Dark purple */
 	/* color: #000066;   Med-Dark purple */
 	/* color: #00004d;  Darker purple */
 	font-size: 42pt;
 	
 }
 span#top-word1:hover{
 	color: #9900ff;  /* light purple color */
 }
 span#top-word2:hover{
 	color: #9900ff;  /* light purple color */
 }

  #bottom-slogan{
  	font-family: 'Indie Flower', cursive;
 	color:#00001a;
 	font-weight: bold;
 	font-size: 24pt;
 }

 #rockIt{
 	color: #f84342;  /* red color */
 }

 span#rockIt:hover {
	color:#e23af6;
}

 .links{
 	padding-top: 24px;
	
 }


 .contribute-link{
 	font-family: 'Indie Flower', cursive;
 	color: #f84342;  /* red color */
 	font-size: 16pt;
 }
 	

.contribute-link:hover{
	text-decoration:none;
	color: #9900ff;  /* light purple color */
	padding:0;
}
.contribute-link:active{
	text-decoration:none;
	/*background-color:#ff9999;*/
	color: #00004d;  /* dark purple */
	padding:0;
}

//.contribute-link:visited{
//	text-decoration:none;
//	color: #009900;  /* green color */	
//}


 .about-link{
 	font-family: 'Indie Flower', cursive;
 	/* color: #9900ff;  light purple color */
 	/* color : #000066;  darkish purple */
 	color: #6600cc;  /* little bit darker purple */
 	
 	font-size: 16pt;
 }
 	

.about-link:hover{
	text-decoration:none;
	color: #f84342;  /* red color */
	padding:0;
}
.about-link:active{
	text-decoration:none;
	color: #660000;  /* darker red color */
	padding:0;
}

//.about-link:visited{
//	text-decoration:none;
//	color: #009900;  /* green color */	
//}

/* trying to split up contribute and about... */


#contribute-line-thing {
	padding: 1px; 
	border-bottom:  4px ridge #9900ff;  /* purple color */
}

#about-line-thing {
	padding: 1px; 
	border-bottom:  4px ridge #f84342;  /* red color */
}



header {
	border-top: 9px solid #222222;
}

hr {
	color:#6600cc;
	clear:both;
	height: 18px;
	border: 0;
	box-shadow: inset 0 18px 18px -18px rgba(102, 0, 204, 0.5);
}

h1 {
	color : #000066;  /* darkish purple */
	font-family: 'Fredoka One', cursive;
	/* font-family: "Helvetica Neue", Helvetica, sans-serif; */
	/* font-weight:600; */
	/* letter-spacing: -1.5px; */
}

h2 {
	color : #000066;  /* darkish purple */
	font-family: 'Fredoka One', cursive;
	/* font-family: "Helvetica Neue", Helvetica, sans-serif; */
	/* font-weight:600; */
	/* letter-spacing: -1.5px; */
}

.next-quote{
	
	font-family: 'Indie Flower', cursive;
 	color: #f84342;  /* red color */
 	font-size: 18pt;
}

.next-quote:hover{
	color: #9900ff;  /* light purple color like the header*/
	padding:0;
}

.next-quote:active{
	color: #00004d;  /* dark purple */
	padding:0;
}

//.next-quote:visited{
//	text-decoration:none;
//	color: #009900;  /* green color */
//}

.footer-blurb{
	font-family: 'Indie Flower', cursive;
 	color: #9900ff;  /* light purple color */
 	font-size: 10pt;	
}


#footer-hack-link, #shameless-promotion-link{
	/* color: #9900ff;  light purple color */
	font-family: 'Fredoka One', cursive;
	color: #6600cc;  /* little bit darker purple */
		
}

.logo:hover {
	text-decoration:none;
}

.container {
	font-family: 'Fredoka One', cursive;
	color: blue;
	font-size: 16pt;
}

.about-para {
	color : #000066;  /* darkish purple */
	
}
.about-title {
	
	font-family: 'pincoyablackblack';
	color: #5c00e6;    /* middle purple */
	font-size: 38pt;
	/* color : #000066;  darkish purple */
}
.about-header {
	font-size: 30pt;
}

.about-names {
	font-family: 'pincoyablackblack';
	color: #5c00e6;    /* middle purple */
	font-size: 32pt;
}

 .about-page-links{
 	/* color : #000066;  darkish purple */
 	/* color: #6600cc;  /* little bit darker purple */
 	color: #5c00e6;    /* middle purple */
 }
 	

.about-page-links:hover{
	text-decoration:none;
	color: #f84342;  /* red color */
	
}
.about-page-links:active{
	text-decoration:none;
	color: #660000;  /* darker red color */

}

//.about-link:visited{
//	text-decoration:none;
//	color: #009900;  /* green color */	
//}

.about-pic-formatting{
	margin-top:110px;
}

.about-pic-short-break {
	margin-top:30px;
}


